.container {
    bottom: 0px;
    width: 400px;
    position: fixed;
    z-index: 300;
    margin-left: 70%;
    font-size: 12px;
    padding: 0;
    background: white;
    height: 100%;
}

/* message box header styles*/

.msg-wgt-header {
  background-color: #6D84B4;
  border: 1px solid rgba(0, 39, 121, 0.76);
  color: white;
  text-align: center;
  height: 28px;
}

.msg-wgt-header a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  vertical-align: middle;
}

/* message box body styles*/

.msg-wgt-body {
  height: 85%;
  overflow-y: scroll;
}

.msg-wgt-body table {
  width: 100%;
}

.msg-row-container {
  border-bottom: 1px solid lightgray;
}

.msg-row-container td {
  /*border-bottom: 1px solid lightgray;
  padding: 3px 0 3px 2px;*/
}

.msg-row {
  width: 100%;
}

.message {
      padding: 5px;
	background: white;
}

/* Message box footer styles*/

.msg-wgt-footer {
  height: 50px;
}

.msg-wgt-footer textarea {
  width: 100%;
  font-family: 'tahoma';
  font-size: 13px;
  padding: 5px;
}

.user-label {
  font-size: 11px;
}

.msg-time {
  font-size: 10px;
  float: right;
  color: gray;
}

.avatar {
  width: 30px;
  height: 30px;
  float: left;
  background: url('/assets/chat_avatar.png');
  border: 1px solid lightgray;
}

body {
	    background: rgba(168, 200, 224, 0.39);
}

.bgCol {
	background: #1b456b;
	height: 650px;
}

.manu {
    font-size: 50px;
    color: white;
    text-align: center;
}

.nasha {
    font-size: 40px;
}

span.rl {
    float: right;
    font-size: 14px;
}

.headr {
    background: #1b456b;
    padding: 10px;
}

.headnots {
	padding: 0;
    list-style-type: none;
    /* display: inline-flex; */
    float: left;
    width: 100%;
	margin: 0;
}

li.headlab {
    float: left;
    width: 50%;
}

a.colwhite {
	color: white;
}

a.colwhite: hover {
	color: white;
}

span.counter {
    background: red;
    padding: 10px;
    font-size: 13px;
}

.loddiv {
    display: block;
    position: absolute;
    background: whitesmoke;
    width: 100%;
    top: 38px;
    z-index: 99;
	left: 0;
}

ul.no {
	padding: 0;
	list-style-type: none;
}

.mc {
    width: 100%;
    float: left;
    font-size: 13px;
    color: #1b456b;
    font-weight: bold;
    padding: 5px;
}

.mm {
    width: 50%;
    float: left;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px;
}

.mb {
    float: right;
    color: grey;
    font-size: 11px;
    border-bottom: 1px solid #d6d5d5;
    width: 50%;
    padding: 6px;
	text-align: right;
}
